
@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css?family=Raleway:400,800');

@layer base {
  body {
    /* @apply font-[Roboto, sans-serif]; */
  }
  li {
    @apply px-4;
    @apply cursor-pointer;
  }
}

@media (max-width: 768px) {
  .skills, .about {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}


.content-div {
  background-repeat: no-repeat;
  background-size: cover;
  /* background-size: contain; */
  background-position: center;
  height: 340px;
}

.content-div:hover {
  background-image: linear-gradient(
      to right,
      rgba(112, 157, 255, 0.8),
      hsla(242, 74%, 61%, 0.8)   
  )!important;
}